body {
  background-image: url("backend.jpg");
}
.words {
  color: crimson;
}
img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
a {
  text-decoration: none;
  color: #000;
}
.thepara {
  font-family: "Source Sans Pro", sans-serif;
}
.headline {
  font-family: "Source Sans Pro", sans-serif;
}
.headinglife {
  color: aqua;
}
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
